.markdown {
  table tr > th {
    padding: 5px;
  }

  table tr:nth-child(2n) {
    background-color: #f5f5f5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: flex;
  }

  img {
    max-width: 100%;
  }

  table tr > td,
  .page-rendered table tr > th {
    padding: 10px;
    border: 1px solid #e0e0e0;
  }

  code {
    background-color: #f5f5f5;
    color: black;
  }

  a code {
    color: #42a5f5;

    &:hover {
      text-decoration: underline;
    }
  }

  h1,
  h2 {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 2px;
  }

  .headeranchor {
    visibility: hidden;
    text-decoration: none;
  }

  .headeranchor:hover {
    visibility: visible;
  }

  h1:hover,
  h2:hover,
  h3:hover,
  h4:hover,
  h5:hover,
  h6:hover {
    .headeranchor {
      visibility: visible;
    }
  }

  .footnotes {
    p {
      display: inline-block;
    }
  }
}
