::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

* {
  scrollbar-color: var(--primary-400) transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background: #f2f5fb;
}
.dark ::-webkit-scrollbar-track {
  background: #181a1b;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-400);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #181a1b;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #f2f5fb;
}
