{
  "tabWidth": 4,
  "semi": true,
  "singleQuote": true,
  "printWidth": 160,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "locales/*.ts",
      "options": {
        "tabWidth": 2,
        "trailingComma": "none",
        "printWidth": 9999
      }
    }
  ]
}