@import 'utils';

.project-create-steps {
  background-color: #fafafa;
  color: #ccc;
  border: 1px solid $lighter;
  padding: 0;
}

.project-create-steps .step-active {
  color: black;
  background-color: white;
}

.project-create-steps .step-complete {
  color: gray;
}

.project-create-steps .project-create-step:not(:last-child) {
  border-bottom: 1px solid $lighter;
}

.project-create-steps .project-create-step .step-content {
  padding: 10px;
}

.project-create-steps .project-create-step .fa-check-square {
  color: green;
}

.status-org-name {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.plugin-meta {
  @include padding-vert(10px, 10px);
  border-bottom: 1px solid $lighter;
}

.plugin-meta-table {
  @include basic-border();
  @include box-shadow4(0, 1px, 1px, rgba(0,0,0,0.05));

  input[type="text"] { width: 100%; }
  tr { width: 100%; }
  td { padding: 10px; }
  tr:nth-child(2n) { background-color: #f5f5f5; }
  .rv { padding: 0; }

  margin-top: 5px;
  width: 100%;

  tr > td:nth-child(2n) {
    text-align: right;
    float: right;
  }
}

.create-buttons > form {
  margin-bottom: 0;
}

#continue {
  margin-top: 4px;
}

.alert-file {
  min-width: 248px;
  min-height: 42px;

  .file-name { margin-right: 50px; }
  .file-upload {
    @include size(48px, 42px);
    > .btn { height: 100%; }
  }

  > .alert {
    padding: 10px;
    min-width: 200px;
    margin: 0;
  }
}

#continue {
  margin-left: 5px;
}

.slug {
  @include fromBottomRight(0, 0);
  font-size: 11px;
  color: gray;
}

.member-table-container {
  padding: 20px;
}

.table-members {
  border-top: none;
  border-bottom: 1px solid $lighter;
  .input-group { max-width: 35%; }
  tbody > tr > td { padding: 10px; }
  tr > td:last-child { text-align: right; }
  tr:first-child > td { border-top: none; }
}

.table-members > tbody > tr > td {
  vertical-align: middle;
  position: relative;
}

.release-bulletin {
  border-bottom: 1px solid $lighter;
  > div {
    width: 90%;
    margin: 10px auto 0;
    > h3, > p { color: gray; }
  }
}
