@import 'utils';

.reply-box {
  .page-rendered, .page-edit textarea {
    min-height: 200px;
  }
}

.reply-controls {
  width: 100%;
  display: table;
}

.reply-controls > * {
  display: table-cell;
}

.reply-controls > .forums {
  text-align: right;
  vertical-align: top;
}
