.dropdown {
  &.new-controls .dropdown-toggle::after {
    margin-bottom: 3px;
  }

  &.user-controls .dropdown-toggle::after {
    margin-bottom: -2px;
  }

  .dropdown-toggle::after {
    color: #9d9d9d;
  }

  .dropdown-menu {

  }
}