@import 'utils';

.alert-review {
  margin-bottom: 10px;
}

.btn-version {
  margin-bottom: 15px;
}

.form-rename {
  margin-bottom: 10px;
}

.form-channel-delete {
  margin: 0;
  display: inline;
}

.form-inline {
  margin: 0;
  display: inline;
}

.version-header {
  position: relative;
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid $lighter;
  .user {
    position: absolute;
    bottom: 0;
  }

  .version-actions {
    .version-icons {
      position: absolute;
      top: 10px;
      right: 15px;
      .fa-check-circle-o {
        color: green;
      }

      .tooltip-inner {
        max-width: none;
        white-space: nowrap;
      }
    }

    .version-buttons {
      display: table;
    }

    .version-buttons > div {
      display: table-cell;
      padding-left: 5px;
      padding-bottom: 5px;
      vertical-align: middle;
    }
  }
}

.version-panel {
  tr:hover {
    background-color: $mainBackground;
    cursor: pointer;
  }
}

.version-string {
  color: gray;
  font-size: 10px;
  margin-bottom: 0;
}

.color-input {
  @include size(32px, 32px);
}

.recommended {
  color: #00aced;
}

.version-description {
  margin-bottom: 15px;
}

.project-controls .stars-static {
  color: gray;
  padding-right: 5px;
}

.project-header-container {
  margin-bottom: 15px;
  border-bottom: 1px solid $lighter;
}

.project-header {
  @include padding-vert(0, 1.5rem);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  > .project-path {
    @include margin-vert(0, 0);
    font-size: 20px;
    font-weight: normal;

    > .project-name {
      font-weight: bold;
    }
  }

  > i {
    font-size: 16px;
    text-overflow: ellipsis;
  }
}

.row-nav .navbar {
  min-height: 35px;
  padding: 0;
}

.row-nav  .navbar-nav > li > a {
  @include padding-vert(5px, 10px);
}

.project-navbar {
  border: none;
  border-radius: 0;
  margin: 0;
}

.project-navbar, .project-navbar:hover, .project-navbar > .navbar-inner > .navbar-nav > .active > a {
  background: none;
}

.project-navbar > .navbar-inner li.active > a {
  border-bottom: 1px solid black;
}

.channel {
  font-weight: bold;
  padding: 2px 4px;
  text-align: center;
  color: white;
  cursor: default;
}

.channel-sm {
  font-size: 10px;
}

.channel-head {
  @include towardsBottomRight(15px, 23px);
  font-size: 20px;
  display: inline-block;
}

.channel-flat {
  border-radius: 0;
}

.spongeapi {
  background-color: $sponge_yellow;
  color: black;
}

.forgemod {
  background-color: #910020;
}

.project-body {
  @include padding-vert(10px, 10px);
}

.version-edit-tabs > li.active > a, .version-edit-tabs > li.active > a:hover,
.version-edit-tabs > li.active > a:focus {
  border-bottom-color: $lighter;
  border-right-color: transparent;
}

.version-edit-tabs > li > a {
  border: none;
}

.version-preview {
  padding-left: 15px;
}

.panel-settings .panel-heading h3 {
  padding-top: 5px;
}

.danger-zone {
  @include margin-vert(10px, 10px);
  @include padding-vert(10px, 10px);
  border-top: 1px solid $lighter;
  border-bottom: 1px solid $lighter;
}

.danger-zone .btn-delete {
  width: 260px;
}

#save {
  margin: 0;
}

.list-members > li > span {
  padding: 6px;
}

.list-members .list-group-item {
  @include padding-horiz(10px, 10px);
}

.list-members .username > .user-avatar > img {
  margin-right: 5px;
}

.unsafe-dl-back {
  padding-top: 14px;
}

.page-item-child {
  border-top: none;
}

.input-key {
  cursor: text !important;
}

.user-grid {
  .media, .extra-divider {
    border-bottom: 1px solid #e1e4e8;
    padding-bottom: 15px;
  }

  .extra-divider {
    margin-bottom: 15px;
  }

  .next-back {
    margin-top: 15px;
  }
}