root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
ij_any_block_comment_at_first_column = false
ij_any_line_comment_at_first_column = false
ij_any_block_comment_add_space = true
ij_typescript_use_double_quotes = false
ij_javascript_use_double_quotes = false
ij_sass_use_double_quotes = false
ij_html_quote_style = double

[**/locales/*.ts]
indent_size = 2

[*.java]
ij_java_insert_inner_class_imports = false
ij_java_use_fq_class_names = false
ij_java_class_count_to_use_import_on_demand = 99999
ij_java_names_count_to_use_import_on_demand = 99999

[*.yml]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

