apiVersion: v1
kind: Secret
metadata:
  name: hangar-frontend
  labels:
    {{- include "hangar.labels" . | nindent 4 }}
type: Opaque
stringData:
  BACKEND_HOST: "{{ .Values.frontend.config.backendHost }}"
  PUBLIC_HOST: "{{ .Values.base.host }}"
  HANGAR_CONFIG_ENV: "{{ .Values.frontend.config.configEnv }}"
  HANGAR_ALLOW_INDEXING: "{{ .Values.base.allowIndexing }}"
  DEBUG: "hangar:*"
  NITRO_CLUSTER_WORKERS: "4"
