.card {
  border: 1px solid $lighter;

  .card-body.table {
    margin-bottom: 0;
    padding: 15px;
  }

  > .card-pagination {
    background: $sponge_grey;
    text-align: center;
    border-top: 1px solid $lighter;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $sponge_grey;
    color: #ffffff;
    font-weight: 600;
    border: none;

    &:last-child {
      margin-left: auto;
    }

    > .card-title {
      margin-bottom: 0;
    }

    .btn i {
      color: inherit;
    }

    i {
      color: #ffffff;
    }

    &.sticky {
      position: sticky;
      top: 63px;
      z-index: +1;
    }
  }
}
