.channel {
  align-items: center;
  display: inline-flex;
  border-radius: 3px;
  font-size: 0.75em;
  height: 2em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

.channel {
  font-weight: bold;
  padding: 2px 4px;
  text-align: center;
  color: white;
  cursor: default;
}

.channel-sm {
  font-size: 10px;
}

.channel-head {
  font-size: 14px;
  height: unset;
  padding: 4px 2px 3px;
  float: left;
  position: absolute;
  left: 100%;
  bottom: 0.9em;
}

.channel-flat {
  border-radius: 0;
}