@import 'utils';

.btn-card {
  background-color: #337ab7;
  border: 1px solid #1A619E;
  color: white;
}

.btn-card:hover {
  background-color: #22527b;
  color: white;
  border-color: #093962;
}

.btn-card:active, .btn-card:focus {
  background-color: #22527b;
  color: white;
}

.card {
  margin-bottom: 10px;
}

.stats {
  margin-top: 10px;
  margin-bottom: 10px;
  p { margin: 0; }
}

.channel-reset {
  margin-top: -15px;
}

.version-edit-tabs {
  position: absolute;
  margin-left: -45px;
  margin-top: 20px;
  border-bottom: none;
}
