.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden
}

.loader.active {
  display: -ms-flexbox;
  display: flex
}

.loader-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #acacac;
  opacity: .7
}

.loader-icon {
  position: relative
}

.loader-icon svg {
  width: 128px;
  height: 128px;
  overflow: hidden;
  vertical-align: middle;
  stroke: #00718f;
  animation: turn 1s linear infinite
}

@-webkit-keyframes turn {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

@keyframes turn {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}
