$sponge_yellow: #0288d1;
$sponge_dark_yellow: #01579b;
$sponge_light_gray: #3a3a3a;
$sponge_grey: #333333;
$sponge_dark_grey: #2b2b2b;
$sponge_headline_font: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;

$mainBackground: #f3f2f0;
$dark: #333;
$light: #ccc;
$lighter: #ddd;
