###########
# General #
###########
server:
  port: 8080

spring:
  freemarker:
    request-context-attribute: rc
  ############
  # DataBase #
  ############
  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:5432/hangar
    username: hangar
    password: hangar
  security:
    filter:
      order: 1000
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 11MB
  devtools:
    restart:
      additional-exclude: work/**
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
    date-format: com.fasterxml.jackson.databind.util.StdDateFormat

#############
# Fake User #
#############
fake-user:
  enabled: true
  id: -2
  name: paper
  username: paper
  email: paper@papermc.io


hangar:
  dev: true
  auth-url: "http://localhost:8000"
  base-url: "http://localhost:8080"
  ga-code: "UA-38006759-9"

  announcements:
      -
        text: "This is a staging server for testing purposes. Data could be deleted at any time. Please use our production server at (TODO: prod url, lol) for uploading your plugins!"
        color: "#ff544b"

  sponsors:
    - name: Beer
      image: images/sponsors/beer.jpg
      link: https://minidigger.me
    - name: MiniDigger
      image: images/sponsors/minidigger.png
      link: https://minidigger.me

  homepage:
    update-interval: 10m

  channels:
    max-name-len: 15
    name-regex: "^[a-zA-Z0-9]+$"
    color-default: cyan
    name-default: "Release"

  pages:
    home:
      name: "Home"
      message: "Welcome to your new project!"
    min-len: 15
    max-len: 75000
    name-regex: "^[a-zA-Z0-9-_ ]+$"
    max-name-len: 25
    min-name-len: 3

  projects:
    max-name-len: 25
    max-pages: 50
    max-channels: 5
    init-load: 25
    init-version-load: 10
    max-desc-len: 120
    file-validate: true
    stale-age: 28d
    check-interval: 1h
    draft-expire: 1d
    user-grid-page-size: 30
    max-keywords: 5
    unsafe-download-max-age: 10
    name-regex: "^[a-zA-Z0-9-_]{3,}$"

  orgs:
    create-limit: 5
    dummy-email-domain: "org.papermc.io"
    enabled: true

  users:
    max-tagline-len: 100
    author-page-size: 25
    staff-roles:
      - Hangar_Admin
      - Hangar_Mod
      - Hangar_Dev


  sso:
    enabled: true
    # relative to auth-url
    login-url: "/sso/"
    signup-url: "/sso/signup/"
    verify-url: "/sso/sudo/"
    logout-url: "/accounts/logout/"
    avatar-url: "/avatar/%s?size=120x120"
    secret: "changeme"
    api-key: "changeme"
    timeout: "2s"
    reset: "10m"

  security:
    secure: false
    unsafe-download-max-age: 600000
    token-issuer: "Hangar"
    token-secret: "secret!"
    token-expiry: 300 # seconds
    refresh-token-expiry: 30 # days
    api:
      url: "http://localhost:8000"
      # avatar-url: "http://localhost:8000/avatar/%s?size=120x120" # only comment in if you run auth locally
      avatar-url: "https://paper.readthedocs.io/en/latest/_images/papermc_logomark_500.png"
      key: changeme
      timeout: 10000
    safe-download-hosts:
      - "github.com"


#################
# Debug Logging #
#################
logging:
  level:
    root: INFO
#    org.springframework: DEBUG
