###########
# General #
###########
server:
  port: 8080

spring:
  ############
  # DataBase #
  ############
  sql:
    init:
      platform: postgres
  datasource:
    url: jdbc:postgresql://localhost:26257/postgres
    username: root
    password:
  security:
    filter:
      order: 1000
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 11MB
  devtools:
    restart:
      additional-exclude: work/**
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
    date-format: com.fasterxml.jackson.databind.util.StdDateFormat

  ###############
  # Email Stuff #
  ###############
#  mail:
#    host: smtp.gmail.com
#    username: username
#    password: password
#    properties:
#      mail.transport.protocol: smtp
#      mail.smtp.port: 587
#      mail.smtp.auth: true
#      mail.smtp.starttls.enable: true

#############
# Fake User #
#############
fake-user:
  enabled: true
  name: paper
  username: paper
  email: paper@papermc.io
#  id: -3
#  name: paper2
#  username: paper2
#  email: paper2@papermc.io

hangar:
  dev: true
  base-url: "http://localhost:3000"
  ga-code: "UA-38006759-9"

  licenses:
    - "MIT"
    - "Apache 2.0"
    - "GPL"
    - "LPGL"
    - "(custom)"

  announcements:
      -
        text: "This is a staging server for testing purposes. Data could be deleted at any time. Please use our production server at (TODO: prod url, lol) for uploading your plugins!"
        color: "#ff544b"

  sponsors:
    - name: Beer
      image: /images/sponsors/beer.jpg
      link: https://benndorf.dev
    - name: MiniDigger
      image: /images/sponsors/minidigger.png
      link: https://benndorf.dev

  homepage:
    update-interval: 10m

  channels:
    max-name-len: 15
    name-regex: "^[a-zA-Z0-9]+$"
    color-default: cyan
    name-default: "Release"

  pages:
    home:
      name: "Home"
      message: "Welcome to your new project!"
    min-len: 15
    max-len: 75000
    name-regex: "^[a-zA-Z0-9-_ ]+$"
    max-name-len: 25
    min-name-len: 3

  projects:
    max-name-len: 25
    max-pages: 50
    max-channels: 5
    init-load: 25
    init-version-load: 10
    max-desc-len: 120
    file-validate: true
    stale-age: 28d
    check-interval: 1h
    draft-expire: 1d
    user-grid-page-size: 30
    max-keywords: 5
    unsafe-download-max-age: 10
    name-regex: "^[a-zA-Z0-9-_]{3,}$"

  orgs:
    create-limit: 5
    dummy-email-domain: "org.papermc.io"
    enabled: true

  users:
    max-tagline-len: 100
    staff-roles:
      - Hangar_Admin
      - Hangar_Mod
      - Hangar_Dev


  sso:
    enabled: true
    oauth-url: "http://localhost:3000" # proxied to 4444
    login-url: "/oauth2/auth"
    token-url: "/oauth2/token"
    logout-url: "/oauth2/sessions/logout"
    client-id: "my-client"

    auth-url: "http://localhost:3001"
    signup-url: "/account/signup/"

  security:
    secure: false
    unsafe-download-max-age: 600000
    token-issuer: "Hangar"
    token-secret: "secret!"
    token-expiry: 300 # seconds
    refresh-token-expiry: 30 # days
    api:
      url: "http://localhost:8000"
      # avatar-url: "http://localhost:8000/avatar/%s?size=120x120" # only comment in if you run auth locally
      avatar-url: "https://paper.readthedocs.io/en/latest/_images/papermc_logomark_500.png"
      timeout: 10000
    safe-download-hosts:
      - "github.com"
      - "youtu.be"

  discourse:
    enabled: true
    url: "http://localhost:80/"
    admin-user: "admin"
    api-key: "3ed9d28a4d225963d0485e095b6ba9dce8852eedbcc2cd8d5f2ef4638160949f"
    category: 5 # hangar category

  jobs:
    check-interval: 30s
    unknown-error-timeout: 15m
    status-error-timeout: 5m
    not-available-timeout: 2m
    max-concurrent-jobs: 32

#################
# Debug Logging #
#################
logging:
  level:
    root: INFO
    org.springframework: INFO
    org.springframework.context.support.PostProcessorRegistrationDelegate: WARN
    io.papermc.hangar.service.internal.JobService: DEBUG
    io.papermc.hangar.config.WebConfig.LoggingInterceptor: DEBUG
#    org.postgresql: TRACE
debug: true
