###########
# General #
###########
server:
  port: 8080

spring:
  freemarker:
    request-context-attribute: rc
  ############
  # DataBase #
  ############
  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:5432/hangar
    username: hangar
    password: hangar
  security:
    filter:
      order: 1000

#############
# Fake User #
#############
fake-user:
  enabled: false
  id: -2
  name: paper
  username: paper
  email: paper@papermc.io


hangar:
  debug: true
  debug-level: 3
  staging: true
  log-timings: false
  auth-url: "http://localhost:8000"

  sponsors:
    - name: Theranos
      image: https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Theranos_Logo.svg/1200px-Theranos_Logo.svg.png
      link: https://en.wikipedia.org/wiki/Theranos
    - name: MiniDigger
      image: https://avatars2.githubusercontent.com/u/2185527?s=400&v=4
      link: https://minidigger.me

  homepage:
    update-interval: 10m

  channels:
    max-name-len: 15
    name-regex: "^[a-zA-Z0-9]+$"
    color-default: 7
    name-default: "Release"

  pages:
    home:
      name: "Home"
      message: "Welcome to your new project!"
    min-len: 15
    max-len: 32000
    page:
      max-len: 75000

  projects:
    max-name-len: 25
    max-pages: 50
    max-channels: 5
    init-load: 25
    init-version-load: 10
    max-desc-len: 120
    file-validate: true
    stale-age: 28d
    check-interval: 1h
    draft-expire: 1d
    user-grid-page-size: 30

  users:
    stars-per-page: 5
    max-tagline-len: 100
    author-page-size: 25
    project-page-size: 5

  sso:
    enabled: true
    # relative to auth-url
    login-url: "/sso/"
    signup-url: "/sso/signup/"
    verify-url: "/sso/sudo/"
    logout-url: "/accounts/logout/"
    avatar-url: "/avatar/%s?size=120x120"
    secret: "changeme"
    api-key: "changeme"
    timeout: "2s"
    reset: "10m"

################
# Spring Debug #
################
#debug=true
#logging.level.org.springframework.security=DEBUG

