@import "./markdown.css";

/* TODO do we need this? */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    @apply bg-teal-600 opacity-75;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

/*Harsh shadow -> Hangar menu / paper forums menu*/
.shadow1 {
    box-shadow: 0 10px 20px rgb(0 0 0 / 15%), rgb(0 0 0 / 10%) 0 0 0 1px;
}

/*Softer shadow -> Paper forums sidebar*/
.shadowSoft {
    box-shadow: 0 4px 15px 0 rgb(88 106 153 / 20%);
}

.w-fit {
    width: fit-content;
}

::-webkit-scrollbar {
    width: 10px;
}

* {
    scrollbar-color: #004ee9 #f2f5fb;
    scrollbar-width: thin;
}

::-webkit-scrollbar-track {
    background: #f2f5fb;
}

::-webkit-scrollbar-thumb {
    background: #004ee9;
}

::-webkit-scrollbar-thumb:hover {
    background: #111111;
}
