/*Harsh shadow -> Hangar menu / paper forums menu*/
.shadow1 {
  box-shadow: 0 10px 20px rgb(0 0 0 / 15%), rgb(0 0 0 / 10%) 0 0 0 1px;
}

/*Softer shadow -> Paper forums sidebar*/
.shadow-soft {
  box-shadow: 0 4px 15px 0 rgb(88 106 153 / 20%);
}
.dark .shadow-soft {
  box-shadow: 0 4px 15px 0 rgb(0 0 0 / 20%);
}
