version: "3.7"
name: hangar

services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: hangar
      POSTGRES_USER: hangar
      POSTGRES_PASSWORD: hangar
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  meilisearch:
    image: getmeili/meilisearch:v1.13
    ports:
      - "7700:7700"
    environment:
      MEILI_NO_ANALYTICS: "true"
      MEILI_TASK_WEBHOOK_URL: "http://192.168.178.34:8080/api/internal/meili/webhook"
    volumes:
      - meilisearch_data:/meili_data

  mailslurper:
    platform: linux/amd64
    image: oryd/mailslurper:latest-smtps
    ports:
      - "4436:4436"
      - "4437:4437"
      - "1025:1025"

  rustfs:
    image: "rustfs/rustfs:latest"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - RUSTFS_VOLUMES=/data
      - RUSTFS_ADDRESS=0.0.0.0:9000
      - RUSTFS_CONSOLE_ADDRESS=0.0.0.0:9001
      - RUSTFS_EXTERNAL_ADDRESS=:9000
      - RUSTFS_CONSOLE_ENABLE=true
      - RUSTFS_ACCESS_KEY=hangar_root
      - RUSTFS_SECRET_KEY=hangar_pass
      - RUSTFS_CORS_ALLOWED_ORIGINS=*
      - RUSTFS_CONSOLE_CORS_ALLOWED_ORIGINS=*
    volumes:
      - rustfs_data:/data
    healthcheck:
      test:
        [
          "CMD",
          "sh", "-c",
          "curl -f http://localhost:9000/health && curl -f http://localhost:9001/rustfs/console/health"
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  rustfs_setup:
    image: minio/mc:RELEASE.2025-08-13T08-35-41Z
    environment:
      MINIO_HOST: rustfs
      MINIO_PORT: 9000
      MINIO_USER: hangar_root
      MINIO_PASS: hangar_pass
    depends_on:
      rustfs:
        condition: service_healthy
    entrypoint:
      - /bin/sh
      - -c
      - |
        set -e

        until mc alias set rustfs http://rustfs:9000 hangar_root hangar_pass; do
          echo 'RustFS is not ready yet, retrying in 2 seconds...'
          sleep 2
        done

        echo 'Create hangar bucket if it doesnt exists'
        mc mb rustfs/hangar --ignore-existing

        echo 'Make hangar bucket public for download'
        mc anonymous set download rustfs/hangar

        echo 'RustFS Configuration Complete!'
    restart: "no"

volumes:
  postgres_data:
  rustfs_data:
  meilisearch_data:
