@import '~vuetify/src/styles/styles.sass';
@import 'utils';
@import "markdown";
@import "theme/base";

.text-transform-unset {
  text-transform: unset;
}

.platform-logo {
  fill: map-deep-get($material-dark, 'tabs');
}

.v-tab--active .platform-logo {
  fill: map-get($blue, 'base')
}

.v-file-input {
  .v-text-field__slot {
    position: absolute !important;
    left: 0;
    width: 100%;
    height: 100%;

    label {
      left: 38px !important;
    }

    .v-file-input__text {
      padding-left: 38px;
    }
  }
}

.user-role-badge {
  padding: 2px 4px;
  border-radius: 2px;
  color: map-deep-get($material-dark, 'text', 'primary');

  &:not(:last-child) {
    margin-right: 5px;
  }
}

a {
  text-decoration: none;
}
