@import '~vuetify/src/styles/styles.sass';
@import 'utils';

.text-transform-unset {
  text-transform: unset;
}

.platform-logo {
  fill: map-deep-get($material-dark, 'tabs');
}

.v-tab--active .platform-logo {
  fill: map-get($blue, 'base')
}
