@import '~vuetify/src/styles/styles.sass';

.v-divider {
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
}

body,
.v-card,
.v-sheet.v-list {
  background-color: var(--v-accent-base) !important;
}
.theme--dark .v-btn.v-btn--has-bg {
  background-color: #1E1E1E !important;
}
.theme--light .v-btn.v-btn--has-bg {
    background-color: var(--v-primary-base);
}

a {
  text-decoration: none;
}
