###########
# General #
###########
server:
  address: 0.0.0.0
  port: 8080
  servlet:
    encoding:
      charset: "UTF-8"

spring:
  application:
    name: "Hangar Backend"
  ############
  # DataBase #
  ############
  sql:
    init:
      platform: postgres
  datasource:
    url: jdbc:postgresql://localhost:5432/hangar
    username: hangar
    password: hangar
  security:
    filter:
      order: 1000
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
  devtools:
    restart:
      additional-exclude: work/**
      quiet-period: 900
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
    date-format: com.fasterxml.jackson.databind.util.StdDateFormat

  cloud:
    aws:
      s3:
        endpoint: "${hangar.storage.object-storage-endpoint}"
        checksum-validation-enabled: false
    kubernetes:
      secrets:
        enableApi: true
  jmx:
    enabled: false

springdoc:
  writer-with-order-by-keys: true
# Enable this if you want to regenerate the frontend types
#  use-fqn: true

management:
  endpoints:
    access:
      default: read_only
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      access: read_only

hangar:
  dev: true
  base-url: "http://localhost:3333"
  url-regex: "^(https?:\\/\\/(?:www\\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\\.[^\\s]{2,}|www\\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\\.[^\\s]{2,}|https?:\\/\\/(?:www\\.|(?!www))[a-zA-Z0-9]+\\.[^\\s]{2,}|www\\.[a-zA-Z0-9]+\\.[^\\s]{2,})"
  allow-indexing: true
  disable-jgroups: true
  disable-ratelimiting: false

  licenses:
    - "Unspecified"
    - "MIT"
    - "Apache 2.0"
    - "GPL"
    - "LGPL"
    - "AGPL"
    - "Other"

  announcements:
    - text: |
        This is a local server for testing purposes. There is a public staging instance at <a href="https://hangar.papermc.dev" style="text-decoration: underline">https://hangar.papermc.dev</a> and the production site can be found at <a href="https://hangar.papermc.io" style="text-decoration: underline">https://hangar.papermc.io</a>.
      color: "#2f4476"

  update-tasks:
    homepage: 2m
    version-downloads: 2m
    project-views: 10m
    project-index: 10m
    version-index: 10m

  channels:
    max-name-len: 15
    min-name-len: 1
    max-description-len: 50
    name-regex: "^[a-zA-Z0-9]+$"
    color-default: cyan
    name-default: "Release"
    description-default: "The default channel"

  pages:
    home:
      name: "Resource Page"
      message: "Welcome to your new project!"
    min-len: 15
    max-len: 75000
    name-regex: "^[a-zA-Z0-9-_ ]+$"
    max-name-len: 25
    min-name-len: 3

  projects:
    max-name-len: 28
    max-version-name-len: 30
    max-license-name-len: 15
    max-dependencies: 100
    max-pages: 50
    max-bbcode-len: 40000
    max-sponsors-len: 1500
    max-channels: 5
    init-load: 25
    init-version-load: 10
    max-desc-len: 120
    max-file-size: 10000000
    content-max-len: 1000000
    file-validate: true
    stale-age: 28d
    check-interval: 1h
    draft-expire: 1d
    user-grid-page-size: 30
    max-keywords: 5
    unsafe-download-max-age: 10
    show-unreviewed-download-warning: false
    name-regex: "^[a-zA-Z0-9-_]{3,}$"
    version-name-regex: "^[a-zA-Z0-9-_.+]+$"
    license-name-regex: "^[a-zA-Z0-9-_.() +]*$"

  orgs:
    create-limit: 5
    dummy-email-domain: "org.papermc.io"
    enabled: true
    max-name-len: 20

  users:
    max-tagline-len: 100
    staff-roles:
      - Hangar_Admin
      - Hangar_Mod
      - Hangar_Dev
    name-change-interval: 30
    name-change-history: 90
    max-name-len: 20
    name-regex: "^[a-zA-Z0-9-_]{3,}$"

  security:
    secure: false
    unsafe-download-max-age: 600000
    token-issuer: "Hangar"
    token-secret: "secret!"
    token-expiry: 300 # seconds
    refresh-token-expiry: 30 # days
    rp-name: "Hangar"
    rp-id: "localhost"
    turnstileSecret: ""
    safe-download-hosts:
      - "dev.bukkit.org"
      - "github.com"
      - "githubusercontent.com"
      - "gitlab.com"
      - "youtu.be"
      - "youtube.com"
      - "papermc.io"
      - "papermc.dev"
      - "discord.gg"
      - "markdownguide.org"
      - "spongepowered.org"
      - "bugs.mojang.com"
      - "patreon.com"
      - "ko-fi.com"
      - "crowdin.com"
      - "kyori.net"
      - "modrinth.com"
      - "i.imgur.com"
      - "imgur.com"
      - "giphy.com"
      - "media.giphy.com"
      - "bstats.org"
    o-auth-enabled: true
    o-auth-providers:
      - name: "github"
        mode: "github"
        client-id: "26ba07861a06dda93f56"
        client-secret: "d0cb6980a7c647b95cd30f8a2d6ac98b79cd67ac"
        scopes:
        - "user:email"
        unlink-link: "https://github.com/settings/connections/applications/:id"
      - name: "microsoft"
        mode: "oidc"
        client-id: "93147315-cd13-411a-8068-90e912c6e242"
        client-secret: "L4l8Q~AVLEy5nSp0_q4qm2a8z1DrODJhJGb4cbjc"
        scopes:
        - "openid"
        - "email"
        - "profile"
        well-known: "https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration"
        unlink-link: "https://account.live.com/consent/Manage"
      - name: "google"
        mode: "oidc"
        client-id: "731781739823-2gdq4irf8o50ktsctn358j5bd1an5r0k.apps.googleusercontent.com"
        client-secret: "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"
        scopes:
          - "openid"
          - "email"
          - "profile"
        well-known: "https://accounts.google.com/.well-known/openid-configuration"
        unlink-link: "https://myaccount.google.com/connections"

  jobs:
    check-interval: 5s
    unknown-error-timeout: 15m
    status-error-timeout: 5m
    not-available-timeout: 2m
    max-concurrent-jobs: 32

  storage:
    # type: "object"
    access-key: "hangar_root"
    secret-key: "hangar_pass"
    bucket: "hangar"
    object-storage-endpoint: "http://127.0.0.1:9000"
    cdn-endpoint: "http://127.0.0.1:9000"
    cdn-include-bucket: true

  cors:
    allowed-hosts:
      - api.spigotmc.org

  image:
    quality: 0.75
    size: 256

  mail:
    from: Hangar <noreply@mail.papermc.dev>
    user: dum
    pass: dum
    host: localhost
    port: 1025
    dev: true

  e2e:
    password: "password"
    totp-secret: "JBSWY3DPEHPK3PXP"

  meili:
    url: "http://localhost:7700"
    key: ""
    prefix: "local-"

#################
# Debug Logging #
#################
logging:
  level:
    root: INFO
    org.springframework: INFO
    org.springframework.context.support.PostProcessorRegistrationDelegate: ERROR
    io.papermc.hangar.service.internal.JobService: DEBUG
    http-client-logger: INFO
    io.papermc.hangar.service.ReplicationService: DEBUG
    # org.springframework.cache: TRACE
    # org.springframework.beans: TRACE
    # io.papermc.hangar.security: TRACE
    # org.springframework.security: TRACE
    # com.webauthn4j: TRACE
    # org.postgresql: TRACE
    # com.sun.mail: TRACE
