@import 'utils';

.list-flags > li {
  @include no-sides();
  cursor: pointer;
}

.list-flags > li:hover {
  background-color: $mainBackground;
}

.list-flags > li:first-child {
  border-top: none;
}

.list-flags > li:last-child {
  border-bottom: none;
}

.list-flags-admin > li {
  padding: 20px;
}

.list-flags-admin .btn-group-sm {
  margin-top: -5px;
}

.header-flags {
  padding-right: 16px;
  padding-bottom: 10px;
}

.flag-msg {
  color: #1f7199;
}

.list-group-health {
  padding: 0;
}
