@import 'utils';

// left nav
@import 'topbar';

#topbar {
  font-size: 15px;

  .container {
    max-width: 1110px;
  }

  a.logo {
    color: $sponge_yellow;
    outline: 0;

    &:hover, &:focus, &:active, &.active {
      color: $sponge_yellow;
      outline: 0;
    }
  }
}

// right nav

.navbar-inverse .navbar-nav > .open > a {
   &, &:hover, &:focus, &:active {
     background: transparent;
  }
}

.navbar-nav > li > .main-dropdown, .user-dropdown {
  @include no-box-shadow();
  border-radius: 0;
  border: 1px solid #e4e4e4;
}

.navbar-nav > li > .main-dropdown {
  padding: 10px 0 4px;
  border-top: none;
}

.navbar-nav > li > .user-dropdown {
  width: 200px;
}

.user-dropdown > li {
  position: relative;

  .unread {
    bottom: 7px;
    right: 20px;
  }
}

.navbar-main {
  .navbar-right > li > a { padding: 0; }
}

.nav-icon {
  @include transition2(background-color, 0.5s);
  cursor: pointer;
  text-align: center;

  &:not(:last-child) {
    margin-right: 20px;
  }

  .icon {
    @include transition2(color, 0.5s);
    cursor: pointer;
    font-size: 25px;
    color: $sponge_yellow;
  }
}

.nav-icon:hover, .nav-icon:hover a {
  .icon { color: white; }
  .user-avatar {
    background: white;
  }
}

.authors-icon, .staff-icon {
  margin-top: 19px;
}

.no-caret {
  .caret {
    display: none;
  }
}

li.user-controls {
  margin-top: 15.5px;

  > .dropdown-menu {
    margin-top: 15px;
    margin-right: -5px;
  }
}

li.new-controls {
  margin-top: 19.5px;

  > .dropdown-menu {
    margin-top: 17px;
    margin-right: -5px;
  }

  .caret {
    margin-bottom: 10px;
  }
}

.user-dropdown > li > a {
  overflow: hidden;
}

.user-dropdown > li > a > i {
  transform: translateY(4px);
}

.btn-group-login {
  margin-top: 10.5px;
  padding: 4px;
}

.btn-group-login > a {
  margin: 0 auto;
}

.unread {
  @include size(12px, 12px);
  @include circle();
  position: absolute;
  background-image: linear-gradient(#CC0000, #B70000);
}

.user-toggle {
  position: relative;
  .unread {
    right: 10px;
    top: -4px;
  }
}
