$sp_logo_offset_x: 0;
$sp_logo_offset_y: -20px;
$sp_topbar_height: 63px;
$sp_logo_width: 220px;

// Fix anchor links
// TODO: Doesn't work properly for sections
/*:target:before {
  content: '';
  display: block;
  height: $sp_topbar_height;
  margin: -$sp_topbar_height 0 0;
}*/

#topbar {
  position: fixed;
  top: $sp_logo_offset_x;
  z-index: 1000;

  width: 100%;
  //max-width: 1920px;
  height: $sp_topbar_height;

  background-color: $sponge_grey;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);

  line-height: 19px;

  a {
    text-decoration: none;
  }

  .container {
    position: relative;
    padding: 0;
  }
}

#sp-logo-container {
  display: inline-block;
  margin-left: $sp_logo_offset_y;

  cursor: pointer;

  .logo {
    display: block;

    width: $sp_logo_width;
    height: $sp_topbar_height;

    padding-left: 20px;
    padding-top: 11px;

    @extend .sponge-headline;

    * {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      height: 40px;
    }

    span {
      margin-left: 3px;
      font-size: 23px;
    }

    [data-fa-i2svg] {
      color: gray;
    }
  }

  &:hover {
    background-color: #2a2a2a;

    #sp-logo-menu {
      display: block;
    }
  }
}

// Left dropdown menu
#sp-logo-menu {
  display: none;

  position: absolute;
  top: $sp_topbar_height;
  left: $sp_logo_offset_y;

  width: $sp_logo_width;
}

#sp-logo-dropdown {
  margin: 0;
  padding: 10px 0 4px;

  background-color: white;

  border: 1px solid #e4e4e4;
  border-radius: 0 0 4px 4px;

  * {
    box-sizing: content-box; // This is magic
  }

  li, a {
    display: block;
  }

  li {
    padding: 0;

    &.active {
      // Fix weird 1px border next to active item
      position: relative;
      left: -1px;
      width: $sp_logo_width;

      background-color: $sponge_yellow;
    }
  }

  a {
    padding: 10px 20px 10px 10px;
    color: #474a54;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1)
    }
  }

  [data-fa-i2svg] {
    padding: 0 10px 0 5px;
  }

}

@media (max-width: 767px){
  #sp-logo-container {
    margin-left: 0;
  }

  #sp-logo-menu {
    left: 0;
  }
}

.ore-nav {
  display: inline-block;
  width: 15px !important;
  height: auto;
  margin: 0;
  padding: 0 12px 4px 7px;
  background-color: transparent;
  border-radius: 0;
}
