@import "markdown-light";
@import "markdown-dark";

.markdown {
  margin-top: -10px;
  table tr > th {
    padding: 5px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
    display: inline-block;
  }

  table tr > td,
  .page-rendered table tr > th {
    border: 1px solid;
    padding: 10px;
  }

  code::before,
  code::after {
    content: "";
  }

  code {
    border-radius: 3px;
  }

  a code &:hover {
    text-decoration: underline;
  }

  h1,
  h2 {
    border-bottom: 1px solid;
    padding-bottom: 5px;
  }

  .headeranchor {
    visibility: hidden;
    text-decoration: none;
  }

  .headeranchor:hover {
    visibility: visible;
  }

  h1:hover,
  h2:hover,
  h3:hover,
  h4:hover,
  h5:hover,
  h6:hover {
    .headeranchor {
      visibility: visible;
    }
  }

  .footnotes {
    p {
      display: inline-block;
    }
  }

  &.inline {
    p {
      margin: 0;
    }
  }

  blockquote {
    margin: 0;
    quotes: unset;
    p:first-of-type::before,
    p:first-of-type::after {
      content: unset;
    }
  }

  ul,
  ol {
    padding-inline-start: 1rem;
  }

  p + ul,
  p + ol {
    margin-top: -10px;
  }

  li > ul,
  li > ol {
    margin: 0;
  }
}

// override prism stuff
.markdown pre[class*="language-"] {
  border: none;
  box-shadow: none;
}

// Active tailwind overrides specific to markdown.

// Padding on first table row element
.prose.markdown table tbody td:first-child {
  padding-left: 10px;
}

// Padding on table header
.prose.markdown table thead th:first-child {
  padding-left: 5px;
}

// Adjust code font weight
.prose.markdown code {
  font-weight: 400;
}

// don't want display table on code stuff
.token.table {
  display: inline;
}

// ff is dum
.prose :where(table):not(:where(.not-prose, .not-prose *)) {
  padding-left: 1px;
}
