@use "sass:meta";

.light {
  .markdown {
    @include meta.load-css("prismjs/themes/prism.min.css");

    --un-prose-hr: #959595;

    table tr:nth-child(2n) {
      background-color: #f5f5f5;
    }

    table tr > td,
    .page-rendered table tr > th {
      border-color: #e0e0e0;
    }

    blockquote {
      color: #57606a;
    }

    code {
      background-color: #dfe0e1;
    }

    pre {
      background-color: #f2f2f3;
      code {
        background-color: transparent;
      }
    }

    code {
      color: black; // Specific colour override for code, tailwind does not properly theme pre's and their content.
    }

    a code {
      color: #42a5f5;
    }

    h1,
    h2 {
      border-bottom-color: #e0e0e0;
    }
  }
}
